<h1>About Craig Franko</h1>
<br/>
<br/>
<h3>A Small Boy with Big Dreams</h3>
<p id="pAbout1" style="font-size:25px">
    Born and raised in the outskirts of Markham, Ontario, Craig often found himself wondering if those tall cell towers really needed to be there to bar his petunias from sunlight.
    Ever since then, he's been working none-stop, gathering the knowledge and experience required to fulfill his long time dream. 
</p>
<img src="Assets/images/craig-franko-portrait.png" alt="Craig Franko portrait">
<br/>
<br/>
<br/>
<h3>Nothing Holding Him Back</h3>
<p id="pAbout2" style="font-size:25px">
Even now, as the father of three adorable children, Craig has never stopped giving it his all. His achievements simply keep piling on top of each other, but 
</p>
<br/><br/><br/>
<br/><br/><br/>
