<h1>About Craig Franko</h1>
<br/>
<br/>
<h3>A Small Boy with Big Dreams</h3>
<p id="pAbout1" style="font-size:25px">
    Born and raised in the outskirts of Markham, Ontario, Craig often found himself wondering if those tall cell towers really 
</p>