<h1>Welcome to this Fictitious Site!</h1>
<h3>Quick Links</h1>
    <ul>
        <li>About Us</li>
        <li>Projects</li>
        <li>Services</li>
        <li>Contact Us</li>
        <li>Login</li>
    </ul>
<p id="paragraphOne" style="font-size:30px">
    Craig Franko's ultimate goal is to make the world a better place. 
</p>
