<h1>Welcome to this Fictitious Site!</h1>
<br/>
<h3>Quick Links</h3>
    <ul>
        <li>About Us</li>
        <li>Projects</li>
        <li>Services</li>
        <li>Contact Us</li>
        <li>Login</li>
    </ul>
    <br/><br/>
    <br/><br/>
<p id="paragraphOne" style="font-size:25px">
    Craig Franko's ultimate goal is to make the world a better place. The first step he decided to take was to create an infrastructure that would not only be easy to use by many across the globe, but also
</p>
