<h1>Welcome to this Fictitious Site!</h1>
<br/>
<h3>Quick Links</h3>
    <ul>
        <li><a href = '/about'>About Us</a></li>
        <li>Projects</li>
        <li>Services</li>
        <li>Contact Us</li>
        <li>Login</li>
    </ul>
    <br/><br/>
    <br/><br/>
<p id="pHome1" style="font-size:25px">
    Craig Franko's ultimate aim is to make the world a better place. One of his goals is to create a massive wireless network infrastructure that renders our current
    cellular network useless. He has a cell tower in his backyard and he absolutely despises it. He understands that in order to accomplish a feat as great as this, he
    requires more experience in the field. This site exposes the accomplishments of Craig Franko.
</p>
