<h1>Franko's Projects</h1>
<br/>
<h3>Operational Security Oversight Dashboard</h3>
<p>
    With the help of Project Lead Michael Machado, Craig partook in a highly
    important project to create a software for Cisco that would allow daily
    vulnerability scans in Cisco's Collaboration Cloud firewall and routers.
</p>
<img src='Assets/images/cisco-firewall.png'>
<br/><br/><br/>
<h3>Microsoft Cloud Migration</h3>
